$font-main: "Raleway", sans-serif;

$white: #FFF;
$dark: #2C2D35;
$grey: #86928B;
$accent: #598D66;
$btn-bg-yellow: #EEDB6D;
$btn-bg: #D4E8D9;
$bg-color: #F4F6F5;
$bg-accent: #E1EDE6;
$bg-active: #376B44;

$tablet-bg: 940px;
$tablet: 764px;
$header-nav: 700px;
$phone-bg: 480px;

